/* html{
  scroll-behavior: smooth;
} */
.breadcrumb-main{
  background-color:#f5f5f5;
}
.breadcrumb{
  padding: 10px 0;
  margin: 0;
}
.about-us {
  padding: 70px 0;
}
.about-us h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: -3px;
  font-size: 60px;
}
.about-us hr{
  width: 70%;

}
.about-feat{
  padding: 0 0 70px;
}
.about-feat h3
{
  font-family: 'Raleway', sans-serif;
  
}
.about-feat p{
  margin-bottom: 20px;
}
.about-ceo{
  background-color: #eee;
  padding-top: 40px;
}
.about-ceo p{
  line-height: 1.8;
}

.about-ceo h2{
  font-family: 'Raleway', sans-serif;
}
.about-ceo .btn-danger{
  background-color: #333;
  border-color: #333;
  display: inline-block;
  margin-bottom: 30px;


}
.faq {
  padding: 40xp 0;
}
.faq h1{
  font-family: 'Raleway', sans-serif;
letter-spacing: -3px;
font-size: 60px;
}
.faq  hr{
  width: 70%;
}


 .quation .panel-heading a:after{
  font-family: Glyphicons Halflings;
  content: "\e084";
  float: right;
} 


